@model MedProSC.Feature.ManualForms.Models.BuilderTable


@if (Model != null)
{
    <table id="loadtable" class="table table-bordered table-lg mytable">
        <thead class="builder-table-head">
            <tr>
                <th>@Model.FormNumber</th>
                <th class="w-50"> @Model.FormName</th>
                <th> @Model.Occurences</th>
                <th>@Model.ClaimsMade</th>
                <th>@Model.EffectiveDate</th>
                <th> @Model.ExpirationDate</th>
                <th style="width: 40px !important"> </th>
            </tr>
        </thead>
        <tbody class="form-tablebody">
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2" class="footer-icons">
                    <i class="bi bi-skip-start-fill goto-first-last"></i>
                    <i class="bi bi-caret-left-fill left-right"></i>
                    @Html.Raw(Model.ShowPageNumber)
                    <i class="bi bi-caret-right-fill left-right"></i>
                    <i class="bi bi-skip-end-fill goto-first-last"></i>
                </th>
                <th colspan="4" class="reslt-page" style="text-align: right !important">
                    <span style="font-size: 13px">@Model.ResultsPerPage</span>&nbsp;&nbsp;
                    <select name="" id="results" class="result-count">
                        @foreach (var page in Model.PageNumbers)
                        {
                            <option value="@page.Name">@page.Name</option>
                        }                      
                    </select>
                </th>
                <th style="border: none !important"></th>
            </tr>
        </tfoot>
    </table>
}