@model MedProSC.Feature.ManualForms.Models.BuilderTable

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.0/css/jquery.dataTables.css" />
<link rel="stylesheet" href="cdn.datatables.net/plug-ins/1.10.15/integration/font-awesome/dataTables.fontAwesome.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.12/pagination/input.js"></script>




@if (Model != null)
{
    @*<div class="container mt-4">*@
    <table id="loadtable" class="table table-bordered table-lg mytable" style="width:100%">
        <thead class="builder-table-head">
            <tr>
                <th>@Model.FormNumber</th>
                <th>@Model.FormName</th>
                <th>@Model.Occurences</th>
                <th>@Model.ClaimsMade</th>
                <th>@Model.EffectiveDate</th>
                <th>@Model.ExpirationDate</th>
                <th></th>
            </tr>
        </thead>
    </table>
    @*</div>*@
}


<script>

    $(document).ready(function () {

        $('.btn-load-form').on('click', function () {
            var IssueCompany = $('#formissue :selected').text();
            var State = $('#formstate :selected').text();
            var formDate = $('.formdate').val();
            var formType = $('.formstype :selected').text();
            var apiQueryString = "?issueCompany=" + IssueCompany + "&state=" + State + "&effectiveDate=" + formDate + "&formType=" + formType;

            var loadFormSearchModel = {
                issueCompany: IssueCompany,
                state: State,
                formDate: formDate,
                formType: formType,
                apiQueryString: apiQueryString
            }
            $.ajax({
                type: "POST",
                url: "/manualformsapi/getloadforms",
                dataType: "json",
                data: { SearchModel: loadFormSearchModel },
                success: OnSuccess,
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        });



        function OnSuccess(json) {
            var data = json.forms.map(data => {
                console.log(data);
                if (data.coverageTrigger == 'ALL') {
                    return [data.formNumber, data.formName, true, true, data.effectiveDate, data.expirationDate];
                }
                if (data.coverageTrigger == 'Occurrence') {
                    return [data.formNumber, data.formName, true, false, data.effectiveDate, data.expirationDate];
                }
                if (data.coverageTrigger == 'Claims Made') {
                    return [data.formNumber, data.formName, false, true, data.effectiveDate, data.expirationDate];
                }
            });


            var table = $('#loadtable').DataTable({
                data: data,
                sPaginationType: "input",
                ordering: false,
                "sDom": '<"top">rt<"bottom"lp><"clear">',
                /*dom: '<"top"f>rt<"bottom"lp><"clear">',*/
                responsive: true,
                pageLength: 10,
                lengthMenu: [10, 25, 50, 75, 100],
                //"language": {
                //    "search": "Search by Form #",

                //},



                /*pagingtype: "full",*/
                bFilter: "true",
                language: {
                    "info": "_START_ of _TOTAL_",
                    sNext: '<i class="fa fa-forward"></i>',
                    sPrevious: '<i class="fa fa-backward"></i>',
                    sFirst: '<i class="fa fa-step-backward"></i>',
                    sLast: '<i class="fa fa-step-forward"></i>'
                },

                columnDefs: [
                    { "width": "15%", "targets": 0 },
                    { "width": "45%", "targets": 1 },
                    {
                        "width": "10%",
                        "targets": 2,
                        "render": function (data, type, full, meta) {
                            return data ? '<input type="checkbox" value=' + data + ' disabled checked/>' : '<input type="checkbox" disabled/>'
                        }
                    },
                    {
                        "width": "10%",
                        "targets": 3,
                        "render": function (data, type, full, meta) {
                            return data ? '<input type="checkbox" value=' + data + ' disabled checked/>' : '<input type="checkbox" disabled/>'
                        }
                    },
                    { "width": "10%", "targets": 4 },
                    { "width": "10%", "targets": 5 },
                    {
                        data: null,
                        defaultContent: '<i class="bi bi-plus-circle-fill"></i>',
                        targets: -1
                    }
                ],
                initcomplete: function () {
                    tabulate(this.api().page.info());
                },

                "success": fnsuccesscallback,
                "error": fnerrorcallback

            });


            //$('.search-form').keyup(function () {
            //    var table = $('#loadtable').DataTable();
            //    table.search($(this).val()).draw();
            //});

            $('.search-name').on('change', function () {

                table
                    .column(1)
                    .search(this.value)
                    .draw();

            });

            $('.search-form').on('change', function () {

                table
                    .column(0)
                    .search(this.value)
                    .draw();

            });
            $('#assetassettype').on('change', function () {
                var coverageType = $('#assetassettype option:selected').text();
                //table
                //    .column(2, 3);
                //    .search(coverageType)
                //    .draw();

                table.columns([2, 3]).search(coverageType).draw();

            });


            //// Add event listener to the table column(s)
            //$('#loadtable thead th').on('click', function () {
            //    var columnIndex = $(this).index(); // Index of the clicked column
            //    var searchValue = $(this).text().trim(); // Clicked column name

            //    // Redraw the DataTable with the new search query
            //    table.columns().search('').draw(); // Clear previous search
            //    table.column(columnIndex).search(searchValue).draw(); // Apply new search
            //});




            table.on('draw', function () {
                tabulate(table.page.info());
            });

            function fnsuccesscallback(data) {
                alert(data.d);
            }
            function fnerrorcallback(result) {
                alert("error");
            }

            var tbody = $('#loadtable').find('tbody');
            tbody.addClass("form-tablebody");
        }
    });


    function tabulate(pageInfo) {
        var curr = pageInfo.page + 1;
        var tot = pageInfo.pages;
        $("<span>Page " + curr + " of " + tot + "</span > ").insertAfter("a.paginate_button.previous");
    }
</script>


<style>
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: left;
        width: 50%
    }

    .dataTables_length {
        float: left;
        text-align: left;
        color: white;
    }

    .dataTables_filter {
        display: none;
    }



    #loadtable_wrapper .bottom {
        margin-left: 2%;
        display: block !important;
        margin-right: -2%;
        background: #002f6b !important;
        color: #fff;
    }



    /*#loadtable_length {
        display: inline-block;*/
    /*   margin-top: 20px;
        margin-right: 20px;*/
    /*background-color: #002f6b !important;
        width: 50% !important;
        color: white;
    }

    #loadtable_paginate {
        display: inline-block;*/
    /*   margin-top: 20px;
        margin-right: 20px;*/
    /*background-color: #002f6b !important;
        width: 50% !important;
        height: 29px;
        color: white;
    }*/
    .paginate_input {
        width: 36px;
        height: 17px;
        color: white;
    }

    div.dataTables_wrapper div.dataTables_length select {
        display: inline-block;
        background: #fff;
        color: black;
    }

    .dataTables_wrapper .dataTables_length {
        float: inline-end;
    }

    #loadtable {
        width: 100%;
        font-family: "Nunito Sans" !important;
        font-size: 13px !important;
        font-weight: 600 !important;
    }
</style>