@model MedProSC.Feature.ManualForms.Models.MyBundle


@if (Model != null)
{
    <div class="mybundle" style="display: none">
        <p>@Model.MyBundleTitle</p>
        <table class="table table-bordered bundle-table">
            <thead class="bundlehead">
                <tr>
                    <th style="width: 140px;">@Model.FormNumber</th>
                    <th>@Model.FormName</th>
                    <th style="width: 30px;"></th>
                </tr>
            </thead>
            <tbody class="bundlebody">
            </tbody>
        </table>
        <div class="error-message-bundleform invalid-data" style="color: red; display: none; text-align: center">Please select the forms!</div>
        <div class="row center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="formpolicy" class="below-table">@Model.PolocyNumber<b style="color:red">*</b></label>
                    <input type="text" class="form-control form-control-sm formpolicy" required>
                    <div class="error-message-formpolicy invalid-data" style="display: none; color: red; margin-top: 6px; margin-bottom: 10px;">
                        Is required
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="forminsured" class="below-table">@Model.FirstNamedInsured<b style="color:red">*</b></label>
                    <input type="text" class="form-control form-control-sm forminsured" required>
                    <div class="error-message-forminsured invalid-data" style="display: none; color: red; margin-top: 6px; margin-bottom: 10px;">
                        Is required
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="formstype" class="below-table">@Model.TransactionType<b style="color:red">*</b></label>
                    <select name="formstype" class="form-control form-select form-select-sm mb-3 formstype" required>
                        <option value="1">New Bussiness</option>;
                        <option value="2" id="div1">Endorsement</option>
                        <option value="3">Renewal</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row centerdata">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Email1msg" class="centerdescriptionlbl">@Model.Description</label>
                    <textarea class="form-control form-description" rows="1"></textarea>
                </div>
            </div>
        </div>

        <div class="row uploadcenter p-3 ">
            <div class="col-md-12">
                <input type="file" id="file" class="manualform-file" style="display:none;">
                <label for="file" class="fileuploadbundle">
                    <i class="bi bi-arrow-bar-up fileuploadbundleIcon"></i>
                    <br />
                    Upload Schedule Data
                </label>
            </div>
        </div>
        <h4 style="margin-top: 1%; margin-left: 26%;" class="invalid-data"></h4>
        <div class="row">
            <div class="create-bundle-button">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary btn-sm create-button">@Model.CreateBundle</button>
                </div>
            </div>
        </div>

        <div class="row api-response-message" style="margin-bottom: 20px; text-align: center;">
        </div>

    </div>
}
<!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script>

    $(document).on("change", ".manualform-file", function () {
        var selectedFile = e.target.files[0].name;
        regex = new RegExp("(.*?)\.(xml)$");

        if (!(regex.test(selectedFile))) {
            $(this).val('');
            $("h4").html('<span style="color: red">Invalid file type. Please select .xml file only!</span>');
        }
        else {
            $("h4").html('<i class="bi bi-file-earmark-excel-fill iconremove" style="position: absolute;margin-left: 0px;margin-top: -2px;color: green;"></i >  <span class="file-name" style="color: #00b2f5; margin-left: 18px">' + selectedFile + "</p>");
        }
    });
 

    $(document).on("click", ".bundle-formremove", function () {
        var formTodelet = $(this).attr("data-formnum");
        var selectedIndex = "";
        $.each(selectedForms, function (index, item) {
            if (item.Number == formTodelet) {
                selectedIndex = index;
                console.log(index);
                return;
            }
        });

        selectedForms.splice(selectedIndex, 1);
        $(this).closest("tr").remove();

        if (selectedForms.length == 0) {
            emptyMyBunleRow();
        }
    });

    $(document).ready(function () {
        $(".formpolicy").validate();
    });

    $(".formpolicy").keypress(function () {
        $('.error-message-formpolicy').hide();
    });

    $(".forminsured").keypress(function () {
        $('.error-message-forminsured').hide();
    });
   

    $(document).on("click", ".create-button", function () {
        var modelValidated = true;
        if ($('.formpolicy').val() == "") {
            $('.error-message-formpolicy').show();
            modelValidated = false;
        }
        else {
            $('.error-message-formpolicy').hide();
        }

        if ($('.forminsured').val() == "") {
            $('.error-message-forminsured').show();
            modelValidated = false;
        }
        else {
            $('.error-message-forminsured').hide();
        }

        if (selectedForms == null || selectedForms.length == 0) {
            $('.error-message-bundleform').show();
            modelValidated = false;
        }
        else {
            $('.error-message-bundleform').hide();
        }

        var fileUpload = $("#file").get(0);
        var files = fileUpload.files;

        if (files != null && files.length > 0) {
            fileData = new FormData();
            fileData.append("xmlFile", files[0]);
        }


        if (modelValidated) {
            fileData.append("firstNamedInsured", $('.forminsured').val());
            fileData.append("forms", JSON.stringify(selectedForms));
            fileData.append("formType", $('.filterformstype :selected').text());
            fileData.append("policyNumber", $('.formpolicy').val());
            fileData.append("policyEffectiveDate", $('.formdate').val());
            fileData.append("transactionType", $('.formstype :selected').text());
            fileData.append("description", $('.form-description').val());
            fileData.append("createdBy", "");
            fileData.append("state", $('#formstate :selected').text());

            jQuery.ajax({
                url: "/manualformsapi/createbundle",
                type: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                datatype: 'json',
                success: function (data) {
                    if (data != null && data.responseCode.messageCode == "1") {
                        $('div.api-response-message').append('<h2 class="" style="color: green"><b>' + data.responseCode.message + '</b></h2>');
                    }
                    else {
                        $('div.api-response-message').append('<h2 class="" style="color: red"><b>' + data.responseCode.message + '</b></h2>');
                    }
                }
            });
        }
    });

</script>