@model MedProSC.Feature.ManualForms.Models.SearchFilter

@if (Model != null)
{
    <div class="search">
        <div class="row">
            <p>@Model.SearchForms</p>
        </div>
        <br />
        <div class="row">
            @Html.Raw(Model.ClicktoaddForm)
        </div>
        <br />

        <div class="row search-filter">
            <div class="col-md-2">
                <label for="searchbynum">@Model.SearchbyForm</label>
                <div class="input-group">
                    <input class="form-control btn-sm search-form search-clear" type="search" value="">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 border btn-sm" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-md-2">
                <label for="assetid">@Model.SearchbyName</label>
                <div class="input-group">
                    <input class="form-control btn-sm search-name search-clear" type="search" value="">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 btn-sm border" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>


            <div class="col-md-2">
                <div class="form-group">
                    <label for="assetPurchaseDate" class="coverage">@Model.CoverageType</label>
                    <select id="assetassettype" name="assetasset-type" class="form-control btn-sm form-select form-select-lg btn-sm mb-3 search-clear" required>
                        <option value="ALL">ALL</option>
                        <option value="Occurrence">Occurrence</option>
                        <option value="Claims Made">Claims Made</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div style="height: 15px !important"></div>
                    <button type="button" class="btn btn-primary btn-sm mb-3 clear-filter">@Model.ClearFilterButton</button>
                </div>

            </div>
        </div>
    </div>
 }
